<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
  <div class="uk-card-media-left uk-cover-container">
    <img src="{{ product.images[0] }}" height="150" width="150" class="uk-margin-small-right" alt="" uk-cover>
  </div>
  <div>
    <div class="uk-card-body">
      <h3 class="uk-card-title">{{ (product.price / 100) | currency: 'BRL' }}</h3>
      <p style="height: 50px;">{{product.title}}</p>
      <button class="uk-button uk-button-default">
        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
        Adicionar
      </button>
    </div>
  </div>
</div>